<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>{{ 'SUPERHERO.FORM.INPUTS.NAME.PLACEHOLDER' | translate }}</mat-label>
    <input matInput type="text" formControlName="name" class="form-control">
    <mat-error class="alert alert-danger"
               *ngIf="displayError('name', 'required')">
      {{ 'SUPERHERO.FORM.INPUT.NAME.ERRORS.REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'SUPERHERO.FORM.INPUTS.EDITOR.PLACEHOLDER' | translate }}</mat-label>
    <mat-select formControlName="editor">
      <mat-option *ngFor="let editor of superheroEditor" [value]="editor">{{ editor }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-action">
    <button mat-raised-button type="button" [routerLink]="['..']" color="warn">
      {{ 'SUPERHERO.FORM.BUTTONS.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
      {{ 'SUPERHERO.FORM.BUTTONS.SUBMIT' | translate }}
    </button>
  </div>
</form>
